*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  color: #181818;
  font-weight: 400;
  line-height: 1.6;
  background-color: #E8E9EC; }

ul {
  text-decoration: none; }

li {
  text-decoration: none; }

button {
  border: none; }

.center {
  margin: 0 auto; }

.margintopbig {
  margin-top: 8rem; }

.margintopsm {
  margin-top: 2rem; }

.heading-1, .heading-2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 6rem;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  color: #181818;
  line-height: 1; }

.btn {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background: #060F46;
  color: #FFFFFF;
  border: 10px solid #c2c2c2; }

.btn-1 {
  text-decoration: none;
  background: #060F46;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: #FFFFFF; }

.container {
  width: 40vw;
  margin: 10rem auto; }

.title {
  display: flex;
  justify-content: space-between; }

.time {
  display: flex;
  justify-content: space-between; }

.buttonarea {
  display: flex;
  justify-content: center; }
