.btn {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background: #060F46;
    color: #FFFFFF;
    border: 10px solid rgb(194, 194, 194);
    }

.btn-1{
    text-decoration: none;
    background: #060F46;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container {
    width: 40vw;
    margin: 10rem auto;
}

.title {
    display: flex;
    justify-content: space-between;
}

.time {
    display: flex;
    justify-content: space-between;
}

.buttonarea {
    display: flex;
    justify-content: center;
}



