%heading {
    font-family: $font-primary;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 6rem;
    line-height: 1;
}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    color: $text-primary;
    line-height: 1;
}




